@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./imagens-starbucks/cafe-fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}


.nav {
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav .logo {
    border-radius: 40px;
    margin-right: 200px;
    cursor: pointer;
    transition: 0.3 ease;
}

.nav .logo:hover{
    transform: scale(1.1);   
}


.nav a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    transition: 0.5s;
}

.nav a:hover {
    transform: scale(1.1);
    opacity: 1;
}

.nav .sign-in {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-weight: 900;
}

.nav .sign-in:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
}

.nav .join-now {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-weight: 800;
}

.nav .join-now:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
}

.text {
    max-width: 500px;
    margin-left: 80px;
}


.text p {
    margin-top: 10px;
    width: 550px;
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: bold;
}

.text .order-now {
    height: 70px;
    width: 130px;
    border-radius: 25px;
    border: 2px solid black;
    background: #f3913665;
    color: rgb(19, 0, 0);
    box-shadow: 3px 4px 0px black;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

.text .order-now:hover {
    transform: scale(1.1);
    background-color: rgba(240, 163, 76, 0.274);
    color: rgb(14, 13, 1);
    border: 2px solid black;
    box-shadow: 1px 1px 5px 1px black
}

.icons img {
    margin-right: 12px;
    margin-left: 10px;
    cursor: pointer;
    filter: brightness(0.5);
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.drinks {
    max-width: 350px;
    margin-right: 60px;
}

.drinks:hover {
    transform: scale(1.1);
}